ion-toolbar {
  --background: #1a1a1a;
  --color: #ede944;
}

ion-card-title {
  color: #cd650e;
  font-family: 'Belwe', serif; // Optional WoW-style font if loaded
}

ion-content {
  background: #1a1a1a;
  color: #ede944;
}

ion-card {
  background: #2e2e2e;
  border: 1px solid #4e284f;
}
