.page-background {
  background: url('/assets/img/main background.png') no-repeat center / cover;
}

.placeholder {
  text-align: center;
  margin-top: 40%;
  font-family: 'IM Fell English SC', serif;
  font-size: 1.4rem;
  color: var(--color-gold);
}
