.welcome-box {
  text-align: center;
  margin-top: 30vh;

  h1 {
    font-size: 2rem;
    font-family: var(--font-title);
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    font-family: var(--font-description);
  }

  ion-button {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
}
